<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content%}
            {% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>our sidebar</h1>
                    <p class="text-muted">you can put any information here you'd like</p>
                    <ul>
                        <li>Latest Posts</li>
                        <li>Announcements</li>
                        <li>calender</li>
                        <li>etc</li>
                    </ul>
            </div>
        </div>
    </div>
</main>